<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.0.275-beta" targetFramework="net451" />
  <package id="log4net" version="1.2.10" targetFramework="net451" />
  <package id="Metrics.NET" version="0.2.16" targetFramework="net451" />
  <package id="Serilog" version="1.5.14" targetFramework="net451" />
  <package id="ZooKeeper.Net" version="3.4.6.2" targetFramework="net451" />
</packages>